
{{~#*inline "format-money"~}}
{{money-amount money}} {{money.currency}}
{{~/inline~}}

{{~#*inline "format-date"~}}
{{date date format="MMM d, YYYY" tz="Etc/UTC"}}
{{~/inline~}}

<html>
  <head>
    <style type="text/css">
     table {
       border-collapse: collapse;
     }
     .left {
       text-align: left;
     }
     .right {
       text-align: right;
       padding-left: 20px;
     }
     .bottom-row > td {
       padding-bottom: 5px;
     }
     .top-row {
       border-top: 1px solid #CCC;
     }
     .top-row > td,
     .top-row > th
     {
       padding-top: 5px;
     }
    </style>
  </head>
  <body>
    {{#with transaction}}
    <h1 class="email-title">
      You have requested to book {{listing.title}}
    </h1>

    <p>
      Your booking request for {{listing.title}} from {{> format-date
      date=booking.start}} to {{> format-date date=booking.end}} is now
      waiting for provider to accept it.
    </p>
    
    <p>
      <a href="{{marketplace.url}}/order/{{url-encode id}}/details"
        >Check the booking details here</a
      >
    </p>
    {{/with}}

    <hr />

    <p>You have received this email notification because you are a member of {{marketplace.name}}. If you no longer wish to receive these emails, please contact {{marketplace.name}} team.</p>
  </body>
</html>
